.test__item {
    list-style: none;
    width: 954px;
    height: 70px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    padding: 11px;
    margin-top: 5px;
    transition: all .4s;
}

.test__item:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.test__name {
    font-weight: 600;
    margin-top: 16px;
    margin-right: 25px;
    width: 389px;
    color: rgba(71, 71, 71, 1);
    font-size: 13px;
    line-height: 15px;
}

.test__type {
    margin-top: 16px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 25px;
    width: 100px;
    color: #5C5C5C;
    font-weight: 400;
}

.test__status {
    margin-top: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    width: 62px;
    margin-right: 54px;
}

.test__site {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 117px;
    margin-right: 60px;
    color: rgba(92, 92, 92, 1);

}

.test__button {
    padding: 5px 25px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    background: #2EE5AC;
    border-radius: 10px;
    border: none;
}

a {
    text-decoration: none;
}
.link{
    color: #fff;
}