.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
}

.input__container {
    position: relative;
    margin-bottom: 30px;
}

.input__container > img {
    position: absolute;
    top: 15px;
    left: 16px;
    cursor: pointer;
}

.input__container > input {
    padding-left: 37px;
}

.input {
    border: 1px solid #EBEBEB;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 45px;
    width: 928px;
    background-color: #ffffff;
}

.input::placeholder {
    color: rgba(209, 209, 209, 1)
}

.button {
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 45px;
    background-color: #2EE5AC;
    padding: 0 10px;
}

.span__length {
    position: absolute;
    top: 13px;
    right: 279px;
    color: rgba(209, 209, 209, 1);
}

.tools__list {
    margin-bottom: 10px;
}

.tools__items {
    display: flex;
    width: 954px;
}

.tools__items img {
    margin-left: 7px;
    width: 4px;
    height: 7px;
    transform: rotate(90deg);
}

.tools__title {
    font-size: 11px;
    margin-left: 16px;
    margin-right: 379px;
    color: rgba(153, 153, 153, 1);
}

.tools__type {
    font-size: 11px;
    margin-right: 87px;
    color: rgba(153, 153, 153, 1);
}

.tools__type > img {
    margin-left: 7px;
    width: 4px;
    height: 7px;
    transform: rotate(90deg);
}

.tools__status {
    font-size: 11px;
    margin-right: 75px;
    color: rgba(153, 153, 153, 1);
}

.tools__site {
    font-size: 11px;
    color: rgba(153, 153, 153, 1);
}

.test__list {
    width: 954px;
    list-style: none;
    margin-top: 10px;
}